html {
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-color: white; */
    margin: 0; /* Override default */
    overflow-x: hidden;
}

/* Font Styling */
h1, h2, h3, h4, h5, p {
    font-weight: 300;
    color: #F16746;
}
h1 { font-size: 38px; line-height: 100%; margin: 12px 0; }
a { cursor: pointer; }

.regular {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

section {
    text-align: center;
}

section p {
    padding: 0px 48px;
    max-width: 500px;
    margin: auto;
}

/* Not including the first section (welcome section) */
section:not(:first-child) {
    margin-top: 100px;
}

.welcome {
    background-image: url(./../assets/header-background-filtered.png); /* Use filtered image */
    background-size: cover;
    background-position: center;
    text-align: center;

    height: 100vh; /* Pagination */
    max-height: 736px; /* No larger than the height of an iPhone 7 Plus screen */
}

.app-icon {
    display: block;
    width: 170px;
    margin: auto;
    padding-top: 30px; /* Margin top */
}

.welcome h3 {
    font-size: 26px;
    color: #F16746;
}

.welcome h1 {
    font-size: 42px;
}

.welcome .app-store-download {
    width: 150px;
    margin: 6px;
}

/* Phone screenshots */
.phone-autocomplete, .phone-location, .phone-3d-touch {
    margin-top: 50px;
    width: 50%;
    max-width: 200px;
}

.phone-schedule {
    margin: 12px;
    width: 60%;
    max-width: 300px;
}

.about {
    margin-top: 220px !important;
}

.schedule {
    background-color: #FFF5F2;
    padding: 24px 0;
}

.schedule h1 {
    margin: 24px 0;
}

.phone-location {
    margin: auto;
}

.download {
    margin: 24px 0;
}
