html {
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-color: white; */
    margin: 0; /* Override default */
}

/* Font Styling */
h1, h2, h3, h4, h5, p {
    font-weight: 300;
    color: #F16746;
}
h1 { font-size: 38px; }

.regular {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.welcome {
    background-image: url(./../assets/header-background-filtered.png); /* Use filtered image */
    background-size: cover;
    background-position: center;
    text-align: center;
    
    height: 100vh; /* Pagination */
    max-height: 736px; /* No larger than the height of an iPhone 7 Plus screen */
}

.app-icon {
    display: block;
    width: 170px;
    margin: auto;
}

.welcome h3 {
    font-size: 26px;
    color: #F16746;
}

.welcome h1 {
    font-size: 42px;
}

.welcome .app-store-download {
    width: 150px;
}

.phone-autocomplete {
    margin-top: 50px;
    width: 50%;
    max-width: 200px;
}

.about {
    margin-top: 120px;
    padding: 24px 48px;
    text-align: center;
}
